<ion-view class="view category-view" view-title="{{category.title}}">
  <ion-nav-back-button class="button-clear"
   ng-click="myGoBack()">
   <i class="ion-arrow-left-c"></i> Back
 </ion-nav-back-button>
  <ion-content class="padding">

    <div class="image-wrap" ng-repeat="image in images track by $index" ng-if="images.length > 0">
      <div class="image-container">
        <div class="image-holder">
          <img ng-src="{{image.imageBase64}}" />
        </div>
      </div>
      <div class="image-info">
        <div class="image-geolocation">
          <i class="icon ion-location"></i>{{image.geoLocation.name}}
        </div>
        <div class="image-time">{{image.updated_at | amUtc | amDateFormat:'DD/MM/YYYY'}}</div>
      </div>
    </div>

    <div ng-if="images.length === 0" class="empty-category">
      <p>No images in this category</p>
      <img src="../assets/images/empty-box-icon.svg" style="width: 300px; height: auto; fill: green;" alt="">
    </div>

  </ion-content>
</ion-view>
