<ion-view class="view dashboard-view" title="Image Manager">
  <ion-content class="padding">
    <ion-refresher
      pulling-text="Pull to refresh..."
      on-refresh="getCategories()">
    </ion-refresher>
    <ion-list>
      <div ng-if="categories.length > 0" class="card card-category" id="category-{{category._id}}" ng-repeat="category in categories | orderBy:'-created_at'">
        <a href="#/category?categoryId={{category._id}}&categoryTitle={{category.title}}">
          <div class="item">
            <div class="card-content">
              <div class="card-title">
                <h2>{{category.title}}</h2>
              </div>
              <p class="card-time">Created at {{category.updated_at | amUtc | amDateFormat:'DD/MM/YYYY'}}</p>
              <p class="card-count">{{category.images.length || 0}} images</p>
            </div>
            <div class="image-container">
              <div class="image-holder">
                <img ng-src="{{category.images[category.images.length - 1].imageBase64}}" />
              </div>
            </div>
          </div>
        </a>
      </div>
      <div ng-if="categories.length === 0" class="empty-category">
        <p>No categories yet</p>
        <img src="../assets/images/empty-box-icon.svg" style="width: 300px; height: auto; fill: green;" alt="">
      </div>
    </ion-list>
  </ion-content>
  <button class="button button-float" ng-click="openCategoryModal()">
    <i class="icon ion-plus"></i>
  </button>

  <script id="category-modal.html" type="text/ng-template">
    <div class="modal">
      <ion-header-bar class="bar bar-header">
        <h1 class="title">New Category</h1>
        <div class="button button-close" ng-click="modal.hide()"><span class="icon ion-close"></span></div>
      </ion-header-bar>
      <ion-content class="padding">
        <div class="label">Category name</div>
        <input type="text" ng-model="modal.newCategory" />
        <button class="button button-block button-create" ng-click="createCategory()">Create</button>
      </ion-content>
    </div>
  </script>
</ion-view>
