<ion-view class="view new-image-view" title="New Image">
  <ion-content class="padding">

    <div class="list">
      <div class="image-container">
        <div class="image-holder">
          <img ng-src="{{imageData.newImage}}" ng-class="{'image-placeholder': imageData.newImage === null, 'image-frame': imageData.newImage}"  class="image-container" alt="" />
        </div>
      </div>
      <div class="item-group">
          <div class="label">
            Select a category
          </div>
          <select name="selectedCategory" id="selectedCategory" ng-model="imageData.selectedCategory">
            <option value="{{category._id}}" ng-repeat="category in imageData.categories track by $index">{{category.title}}</option>
          </select>

      </div>
      <div class="item-group">
        <div class="label">
          Image geolocation
        </div>
        <div class="location-messages">
          <p ng-if="!getFake && !map">{{geoMessage}}</p>
          <p ng-if="getFake && !map">{{fakeMessage}}</p>          
        </div>
        <button ng-click="getFakeLocation()" ng-if="getFake" class="button button-block button-positive">
          Get fake location
        </button>

        <div ng-if="map">
          <ng-map id="map" center="{{map.lat}}, {{map.long}}" zoom="{{map.zoom}}" disabled>
            <marker position="{{map.lat}}, {{map.long}}" centered="true"></marker>
          </ng-map>
          {{map.name}}
        </div>
      </div>

    </div>
    <button
      ng-disabled="!imageData.selectedCategory || !imageData.location || !imageData.newImage"
      ng-click="saveImage()"
      class="button button-block save-button">
      Save image
    </button>
  </ion-content>
</ion-view>
