/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/

$assertive: #ef473a;
$dark     : #474A4F;
$green    : #3EB997;
$grey     : #E6EBEC;
$bg       : #EDEFF2;

// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;

// Include all of Ionic
@import "www/lib/ionic/scss/ionic";

.platform-android .action-sheet-backdrop.active {
  background-color: rgba(0, 0, 0, 0.5); }
    .platform-android .action-sheet {
      align-content: center;
      margin:auto;
      max-width: 96vw;
      border-radius: 5px;
      margin-bottom: 10px;
    }
    .platform-android .action-sheet .action-sheet-title, .platform-android .action-sheet .button {
      font-size: 16px;
      color: $grey;
    }

    .platform-android .action-sheet .button i {
      color: $green;
    }

    .platform-android .action-sheet .action-sheet-title {
      text-align: center;
      color: $green;
    }
    .platform-android .action-sheet .button {
      border-color: #e2e2e2;
      color: $dark;
    }
    .platform-android .action-sheet .button.active,
    .platform-android .action-sheet .button.activated {
      background: #e8e8e8;
    }
    .platform-android .action-sheet-group {
      border-radius: 0;
      background-color: #fafafa;
    }
    .platform-android .action-sheet-cancel {
      display: block;
      margin-top: 10px;
      text-align: center;
      color: $assertive !important;
    }
    .platform-android .action-sheet-has-icons .button {
      padding-left: 56px;
    }


//create-category
.modal {
  input {
    border-bottom: 1px solid $grey;
    width: 100%;
    color: $dark;
    text-decoration: none;
  }
  .button-close {
    background-color: transparent;
    span {
      color: $green;
    }
  }

  .button-create {
    background-color: $green;
    color: white;
  }
}

// new-image
.view.dashboard-view {
  .card-category {
    position: relative;
    a {
      text-decoration: none;
      .item {
        position: relative;
        overflow: hidden;
        .image-container {
          width: 100%;
          height: 200px;
          position: absolute;
          top: 0;
          opacity: .2;
          left: 0;
          overflow: hidden;
          .image-holder {
            height: 100%;
            display:flex;
            align-item: center;
            img{
              height: auto;
              width: 100%;
              align-self: center;
              object-fit: cover;
            }
          }
        }

        .card-content {
          .card-title {
            display: flex;
            justify-content: space-between;
            h2 {
              font-size: 24px;
              font-weight: bold;
              text-transform: uppercase;
            }
          }

          .card-time {
            line-height: 1.1em;
            font-size: 18px;
            font-weight: bold;
            color: $green;

            i {
              color: $dark;
              font-weight: bold;
            }
          }

          .card-count {
            text-align: right;
            font-size: 18px;
          }
        }
      }
    }
  }

  .button.button-float {
    width: 60px;
    height: 60px;
  }

  .button-float{
    background: $green !important;
    color:white !important;
    z-index: 12 !important;
    position: absolute !important;
    bottom: 20px !important;
    right: 20px !important;
    border-radius: 50% !important;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26) !important;
    -webkit-transform: translate3d(0, 0, 0) !important;
    transform: translate3d(0, 0, 0) !important;
    -webkit-transition: 0.2s linear !important;
    transition: 0.2s linear !important;
    -webkit-transition-property: -webkit-transform, all !important;
    transition-property: transform, all !important;

  }

  .button-float:hover{
    -webkit-transform: translate3d(0, -1px, 0)  !important;
    transform: translate3d(0, -1px, 0) !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4) !important;
      background: darken($green, 10%) !important;
  }
}


.view.new-image-view {
  ion-content {
    width: 100%;
    margin:  0 auto;
    text-align: center;
  }

  .item-group {
    margin: 10px 0;

    .label {
      text-align: left;
      font-size: 18px;
      color: $dark;
      margin: 20px 0;
    }
  }

  #selectedCategory {
    width: 100%;
    height: 50px;
    background-color: white;
  }
  .image-container {
    width: 100%;
    height: 300px;
    overflow: hidden;
    .image-holder {
      height: 100%;
      display:flex;
      align-item: center;
      img{
        height: 100%;
        width: 100%;
        align-self: center;
        object-fit: cover;
        border: none !important;
      }
    }
  }

  .image-placeholder {
    background: url('../assets/images/new-photo.png') darken($grey, 10%) center center no-repeat;
  }
  #map {
    height: 150px;
    width: 100%;
    pointer-events: none;
  }

  .save-button {
    background-color: $green;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
  }
}

.view.category-view {
  height: 100%;
  ion-content{
    height: 100%;
    .empty-category {
      display: flex;
      height: 100%;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      p {
        font-size: 24px;
      }
    }

    .image-wrap {
      background-color: white;
      padding: 7px;
      margin-bottom: 10px;
      box-shadow: 0 1px 1px rgba(0,0,0,.1);
      border-radius: 4px;
      .image-container {
        width: 100%;
        height: 200px;
        overflow: hidden;
        .image-holder {
          height: 100%;
          display:flex;
          align-item: center;
          img{
            height: auto;
            width: 100%;
            align-self: center;
            object-fit: cover;
          }
        }
      }

      .image-info {
        padding-top: 7px;
        text-align: right;
        margin-right: 5px;
        .image-geolocation {
          line-height: 1.5em;
          font-size: 16px;
          font-weight: bold;
          color: $dark;
          text-transform: uppercase;
          i {
            font-size: 14px;
            margin-right: 5px;
          }
        }

        .image-time {
          color: $green;
          font-weight: bold;
        }
      }
    }
  }
}

.nav-bar {
  background-color: white;
  color: $dark;
  text-align: center;

  .nav-bar-button{
    color: $dark!important;
  }
}

.bar .button.back-button, .bar button.back-button{
  color: $dark;

  .back-text .default-title {
    display: none!important;
  }
}

.view {
  background-color: $bg!important;

  .overflow-scroll {
    overflow-y: auto!important;
  }
}
